*
{
    color:rgb(11, 11, 129);
    background-color:#8ea6f6;
    border: 3px dashed #0d0231 ;
}
.a
{
    background-color: rgb(240, 54, 54);
    font-size:x-large;
    font-style:oblique;
}
#b
{
    background-color:rgb(255, 7, 19);
    border:6px dashed #044bce;
    font-style: oblique;
    font-size: xx-large;

}
.c
{
    background-color: rgba(255, 0, 0, 0.999);
    font-style:oblique;
    font-size:large;
    color: rgb(16, 1, 46);
}

